<!DOCTYPE HTML>
<!--
	Tapestry by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TapIndia</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		
		
		<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="js/responsiveCarousel.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
			
		</noscript>
		<link rel="stylesheet" href="css/homeprofiles.css" />
	</head>
	<body class="homepage">
		<div id="header-wrapper">
			<div class="container">
				<div id="header">
					<div id="logo">
						<h1><a href="#">TapIndia</a></h1>
						
					</div>
					<nav id="nav">
						<ul>
							<li class="current_page_item"><a href="index.html">Home</a></li>
							<li><a href="threecolumn.html">Companies</a></li>
							<li><a href="twocolumn1.html">Markets</a></li>
							<li><a href="twocolumn2.html">Politics</a></li>
							<li><a href="onecolumn.html">Regions</a></li>
							<li><a href="registration.html">Login</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<br /><br />
		<!-- slider -->
		  <div id="w">
		 
   <div>
    <nav class="slidernav">
      <div id="navbtns" class="clearfix">
        <a href="#" class="previous">prev</a>
        <a href="#" class="next">next</a>
      </div>
    </nav></div>
    
    <div class="crsl-items" data-navigation="navbtns">
      <div class="crsl-wrap">
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="images/thumb01.jpg" alt="nyc subway">
            <span class="postdate">Oct 16, 2016</span>
			<span class="posttag">US Elections</span>
          </div>
          
          <h3><a href="#">Why Trump's Ignorance About Trade Deficits Is Detrimental To The US</a></h3>
          
          <p>Donald Trump wants to become “the greatest jobs president that God ever created.” Can he achieve this self-promoted accolade?</p>
          
          <p class="readmore"><a href="#">Read More &raquo;</a></p>
        </div><!-- post #1 -->
        
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="images/thumb02.jpg" alt="danny antonucci">
            <span class="postdate">Oct 19, 2016</span>
			<span class="posttag">Companies</span>
          </div>
          
          <h3><a href="#">Here’s The Economic Upside To The Heathrow Expansion</a></h3>
          
          <p>Years of fierce debate among politicians, business-people and civilians eventually culminated in this week’s decision to grant Heathrow airport permission to begin planning for the construction of a third runway. </p>
          
          <p class="readmore"><a href="#">Read More &raquo;</a></p>
        </div><!-- post #2 -->
        
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="images/thumb03.jpg" alt="watercolor paints">
            <span class="postdate">Oct 23, 2016</span>
			<span class="posttag">Banking</span>
          </div>
          
          <h3><a href="#">Too Big To Fail: The Top Banking Failures Of The Decade</a></h3>
          
          <p>The financial issues that banks face are deeply rooted in their culture. Poor quality products, inappropriate staff bonuses and an aggressive sales-based culture all contribute significantly to their propensity to fail.</p>
          
          <p class="readmore"><a href="#">Read More &raquo;</a></p>
        </div><!-- post #3 -->
        
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="images/thumb04.jpg" alt="apple ipod classic photo">
            <span class="postdate">Sep 02, 2016</span>
			<span class="posttag">Oil & Gas</span>
          </div>
          
          <h3><a href="#">ExxonMobil eyes setting up large-scale trading division</a></h3>
          
          <p>Rivals’ profits are buttressed in downturn by buying and selling third-party oil</p>
          
          <p class="readmore"><a href="#">Read More &raquo;</a></p>
        </div><!-- post #4 -->
        
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="images/thumb05.jpg" alt="web design magazines">
            <span class="postdate">Sep 11, 2016</span>
			<span class="posttag">Politics</span>
          </div>
          
          <h3><a href="#">Mapping Out Deals: Key Players In LBO Transactions</a></h3>
          
          <p>The complexity of LBO transactions determines the necessity of multiple players – with different roles. The main players of an LBO transaction are the financial sponsor, the investment banks, banks, institutional lenders, and the target management.</p>
          
          <p class="readmore"><a href="#">Read More &raquo;</a></p>
        </div><!-- post #5 -->
		
      </div><!-- @end .crsl-wrap -->
    </div><!-- @end .crsl-items -->
	 
	 
    
  </div><!-- @end #w -->

		
		<div id="wrapper">
			<div class="container" id="marketing"><br/>
				<div class="row divider">
					<div class="3u">
						<section>
							<p><a href="#"><img src="images/thumb01.jpg" alt=""></a></p>
							<p class="button-style1"><a href="#">Companies</a></p><br/>
							<h2 class="title">Why Trump's Ignorance About Trade Deficits Is Detrimental </h2>
							<p class="subtitle">Donald Trump wants to become “the greatest jobs president that God ever created.” Can he achieve this self-promoted accolade?</p>
							
						</section>
					</div>
					<div class="3u">
						<section>
							<p><a href="#"><img src="images/thumb02.jpg" alt=""></a></p>
							<p class="button-style1"><a href="#">Banking</a></p><br/>
							<h2 class="title">Here’s The Economic Upside To The Heathrow Expansion</h2>
							<p class="subtitle">Years of fierce debate among politicians, business-people and civilians eventually culminated in this week’s decision to grant Heathrow airport permission to begin </p>
							
						</section>
					</div>
					<div class="3u">
						<section>
							<p><a href="#"><img src="images/thumb03.jpg" alt=""></a></p>
							<p class="button-style1"><a href="#">Oil & Gas</a></p><br/>
							<h2 class="title">Too Big To Fail: The Top Banking Failures Of The Decade</h2>
							<p class="subtitle">The financial issues that banks face are deeply rooted in their culture. Poor quality products, inappropriate staff bonuses and an aggressive sales-based culture all </p>
							
						</section>
					</div>
					<div class="3u">
						<section>
							<p><a href="#"><img src="images/thumb04.jpg" alt=""></a></p>
							<p class="button-style1"><a href="#">Politics</a></p><br/>
							<h2 class="title">ExxonMobil eyes setting up large-scale trading division</h2>
							<p class="subtitle">Rivals’ profits are buttressed in downturn by buying and selling third-party oil</p>
							
							
						</section>
					</div>
				</div>
			</div>
			<div class="container" id="page">
				<div class="row">
					<div class="6u">
						<div class="mobileUI-main-content" id="content">
							<section>
								<div class="post">
									<h2>Why Trump's Ignorance About Trade Deficits Is Detrimental</h2>
									<p><a href="#"><img src="images/thumb01.jpg" alt=""></a><br>
									Trump is many things, including an excellent self-promoter, but one thing that he clearly is not is an economist. His method of winning votes involves pandering to the US worker who thinks he is out of a job because of America’s persistent trade deficit with countries like China (a trade deficit happens when a country imports more goods and services from a trading partner than it exports to it).</p>
									<p class="button-style2"><a href="#">Read Full Article</a></p>
								</div>
							</section>
						</div>
					</div>
					<div class="3u" id="sidebar1">
						<section>
							<h2>Trending</h2>
							<ul class="style2">
								<li class="first">
									<p><a href="#"><img src="images/pics07.jpg" alt="">Why Trump's Ignorance About Trade Deficits Is Detrimental in US </a></p>
								</li>
								<li>
									<p><a href="#"><img src="images/pics08.jpg" alt="">Here’s The Economic Upside To The Heathrow Expansion </a></p>
								</li>
								<li>
									<p><a href="#"><img src="images/pics09.jpg" alt="">Too Big To Fail: The Top Banking Failures Of The Decade</a></p>
								</li>
								<li>
									<p><a href="#"><img src="images/pics10.jpg" alt="">ExxonMobil eyes setting up large-scale trading division</a></p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u" id="sidebar2">
						<section>
							<h2>&nbsp;</h2>
							<ul class="style2">
								<li class="first">
									<p><a href="#"><img src="images/pics07.jpg" alt="">Why Trump's Ignorance About Trade Deficits Is Detrimental in US </a></p>
								</li>
								<li>
									<p><a href="#"><img src="images/pics08.jpg" alt="">Here’s The Economic Upside To The Heathrow Expansion </a></p>
								</li>
								<li>
									<p><a href="#"><img src="images/pics09.jpg" alt="">Too Big To Fail: The Top Banking Failures Of The Decade</a></p>
								</li>
								<li>
									<p><a href="#"><img src="images/pics10.jpg" alt="">ExxonMobil eyes setting up large-scale trading division</a></p>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
		<div id="featured-area">
			<div class="container"><h2 align="center">Our Popular Authors</h2>
				<div class="row divider" id="footer-content" >
				<div class="4u">
				
				
				
					<figure class="snip1336">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
						<figcaption>
							<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4" class="profile" />
							<h2>Sibyl White<span>Student</span></h2>
							<p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
						<a href="#" class="follow">Follow</a>
						<a href="#" class="info">More Info</a>
						</figcaption>
					</figure></div>
					<div class="4u">
					<figure class="snip1336">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
						<figcaption>
							<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4" class="profile" />
							<h2>Sumanth Kanakala<span>Developer</span></h2>
							<p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
						<a href="#" class="follow">Follow</a>
						<a href="#" class="info">More Info</a>
						</figcaption>
					</figure></div>
					<div class="4u">
					<figure class="snip1336">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
						<figcaption>
							<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4" class="profile" />
							<h2>Venkat Krishna<span>Cricketer</span></h2>
							<p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
						<a href="#" class="follow">Follow</a>
						<a href="#" class="info">More Info</a>
						</figcaption>
					</figure></div>
					
    


       
		</div></div></div>
		
		<div id="copyright" class="container">
			© Copyright @ 2016 TapIndia Pvt Ltd. All Right Reserved.
		</div>
	</body>
</html>
<script type="text/javascript">
$(function(){
  $('.crsl-items').carousel({
    visible: 3,
    itemMinWidth: 180,
    itemEqualHeight: 370,
    itemSepgin: 9,
  });
  
  $("a[href=#]").on('click', function(e) {
    e.preventDefault();
  });
});
</script>