{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Tapestry by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TapIndia</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" type="text/css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{%static 'js/skel.min.js'%}"></script>
		<script src="{%static 'js/skel-panels.min.js'%}"></script>
		<script src="{%static 'js/init.js'%}"></script>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel="stylesheet" href="{%static 'css/style-desktop.css'%}">	
		
			<link rel="stylesheet" href="{%static 'css/style.css'%}" />
		
		
	</head>
	<body class="homepage">
		<div id="header-wrapper">
			<div class="container">
				<div id="header">
					<div id="logo">
						<h1><a href="index.html">TapIndia</a></h1>
						
					</div>
					<nav id="nav">
						<ul>
							<li class="current_page_item"><a href="index.html">Home</a></li>
							<li><a href="registration.html">Login</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
		</div>
		
		<body><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>Congratulations!</h1>
<br/><br/><br/><br/><br/><br/><br/><div  class="row" ><div class="3u">&nbsp;</div><div class="7u">
<h2>Your registration is now complete. Click <a href='/accounts/login'>login</a> to continue and start having fun!</h2></div><div class="2u">&nbsp;</div></div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<div id="copyright" class="container">
			© Copyright @ 2016 TapIndia Pvt Ltd. All Right Reserved.
		</div>
	</body>
</html>